<section class="block container">
  <div class="block__header">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam incidunt
      sapiente saepe mollitia ut ratione perferendis autem voluptas nihil
      praesentium?
    </p>
  </div>

  <div style="width: 30%; padding: 4rem">
    <div class="card card--secondary">
      <header class="card__header">card title</header>
      <div class="card__body">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore
        repellendus quidem delectus dolorem fuga culpa ex distinctio sunt quis
        deleniti.
      </div>
    </div>
  </div>
</section>

<section class="block block--dark block--skewed-left container">
  <div class="container">
    <h2 class="block__heading">heading</h2>
    <p>
      Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magnam incidunt
      sapiente saepe mollitia ut ratione perferendis autem voluptas nihil
      praesentium?
    </p>
  </div>
</section>
